*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
data_/
**/wand/
*.csv
*wand
*wand/
**wand/
**/wand/*
**wand/*
**/wand
**/__pycache__/
models/
*models
.env
notebooks/wandb/run-20220917_043953-3uxo4i63/run-3uxo4i63.wandb
notebooks/wandb/run-20220917_043953-3uxo4i63/files/config.yaml
notebooks/wandb/run-20220917_043953-3uxo4i63/files/output.log
notebooks/wandb/run-20220917_043953-3uxo4i63/files/requirements.txt
notebooks/wandb/run-20220917_043953-3uxo4i63/files/wandb-metadata.json
notebooks/wandb/run-20220917_043953-3uxo4i63/files/wandb-summary.json
notebooks/wandb/run-20220917_043953-3uxo4i63/logs/debug-internal.log
notebooks/wandb/run-20220917_043953-3uxo4i63/logs/debug.log
notebooks/wandb/run-20220917_044111-bg6qq2i0/run-bg6qq2i0.wandb
notebooks/wandb/run-20220917_044111-bg6qq2i0/files/config.yaml
notebooks/wandb/run-20220917_044111-bg6qq2i0/files/model-best.h5
notebooks/wandb/run-20220917_044111-bg6qq2i0/files/output.log
notebooks/wandb/run-20220917_044111-bg6qq2i0/files/requirements.txt
notebooks/wandb/run-20220917_044111-bg6qq2i0/files/wandb-metadata.json
notebooks/wandb/run-20220917_044111-bg6qq2i0/files/wandb-summary.json
notebooks/wandb/run-20220917_044111-bg6qq2i0/files/media/graph/graph_summary_3a0def5a4964c79c692c.graph.json
notebooks/wandb/run-20220917_044111-bg6qq2i0/files/model-best/keras_metadata.pb
notebooks/wandb/run-20220917_044111-bg6qq2i0/files/model-best/saved_model.pb
notebooks/wandb/run-20220917_044111-bg6qq2i0/files/model-best/variables/variables.data-00000-of-00001
notebooks/wandb/run-20220917_044111-bg6qq2i0/files/model-best/variables/variables.index
notebooks/wandb/run-20220917_044111-bg6qq2i0/logs/debug-internal.log
notebooks/wandb/run-20220917_044111-bg6qq2i0/logs/debug.log
notebooks/wandb/run-20220917_050640-39yzo8yk/logs/debug.log
notebooks/wandb/run-20220917_050843-28gslvj8/logs/debug.log
notebooks/wandb/run-20220917_052233-3euknryt/run-3euknryt.wandb
notebooks/wandb/run-20220917_052233-3euknryt/files/config.yaml
notebooks/wandb/run-20220917_052233-3euknryt/files/model-best.h5
notebooks/wandb/run-20220917_052233-3euknryt/files/output.log
notebooks/wandb/run-20220917_052233-3euknryt/files/requirements.txt
notebooks/wandb/run-20220917_052233-3euknryt/files/wandb-metadata.json
notebooks/wandb/run-20220917_052233-3euknryt/files/wandb-summary.json
notebooks/wandb/run-20220917_052233-3euknryt/files/media/graph/graph_summary_3a0def5a4964c79c692c.graph.json
notebooks/wandb/run-20220917_052233-3euknryt/logs/debug-internal.log
notebooks/wandb/run-20220917_052233-3euknryt/logs/debug.log
