*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
data_/
**/wand/
*.csv
*wand
*wand/
**wand/
**/wand/*
**wand/*
**/wand
**/__pycache__/
notebooks/wandb/
models/
*models
.env
notebooks/wandb/run-20220917_043953-3uxo4i63/run-3uxo4i63.wandb
notebooks/wandb/run-20220917_043953-3uxo4i63/files/config.yaml
notebooks/wandb/run-20220917_043953-3uxo4i63/files/output.log
notebooks/wandb/run-20220917_043953-3uxo4i63/files/requirements.txt
notebooks/wandb/run-20220917_043953-3uxo4i63/files/wandb-metadata.json
notebooks/wandb/run-20220917_043953-3uxo4i63/files/wandb-summary.json
notebooks/wandb/run-20220917_043953-3uxo4i63/logs/debug-internal.log
notebooks/wandb/run-20220917_043953-3uxo4i63/logs/debug.log
notebooks/wandb/run-20220917_044111-bg6qq2i0/run-bg6qq2i0.wandb
notebooks/wandb/run-20220917_044111-bg6qq2i0/files/config.yaml
notebooks/wandb/run-20220917_044111-bg6qq2i0/files/model-best.h5
notebooks/wandb/run-20220917_044111-bg6qq2i0/files/output.log
notebooks/wandb/run-20220917_044111-bg6qq2i0/files/requirements.txt
notebooks/wandb/run-20220917_044111-bg6qq2i0/files/wandb-metadata.json
notebooks/wandb/run-20220917_044111-bg6qq2i0/files/wandb-summary.json
notebooks/wandb/run-20220917_044111-bg6qq2i0/files/media/graph/graph_summary_3a0def5a4964c79c692c.graph.json
notebooks/wandb/run-20220917_044111-bg6qq2i0/files/model-best/keras_metadata.pb
notebooks/wandb/run-20220917_044111-bg6qq2i0/files/model-best/saved_model.pb
notebooks/wandb/run-20220917_044111-bg6qq2i0/files/model-best/variables/variables.data-00000-of-00001
notebooks/wandb/run-20220917_044111-bg6qq2i0/files/model-best/variables/variables.index
notebooks/wandb/run-20220917_044111-bg6qq2i0/logs/debug-internal.log
notebooks/wandb/run-20220917_044111-bg6qq2i0/logs/debug.log
notebooks/wandb/run-20220917_050640-39yzo8yk/logs/debug.log
notebooks/wandb/run-20220917_050843-28gslvj8/logs/debug.log
notebooks/wandb/run-20220917_052233-3euknryt/run-3euknryt.wandb
notebooks/wandb/run-20220917_052233-3euknryt/files/config.yaml
notebooks/wandb/run-20220917_052233-3euknryt/files/model-best.h5
notebooks/wandb/run-20220917_052233-3euknryt/files/output.log
notebooks/wandb/run-20220917_052233-3euknryt/files/requirements.txt
notebooks/wandb/run-20220917_052233-3euknryt/files/wandb-metadata.json
notebooks/wandb/run-20220917_052233-3euknryt/files/wandb-summary.json
notebooks/wandb/run-20220917_052233-3euknryt/files/media/graph/graph_summary_3a0def5a4964c79c692c.graph.json
notebooks/wandb/run-20220917_052233-3euknryt/logs/debug-internal.log
notebooks/wandb/run-20220917_052233-3euknryt/logs/debug.log
notebooks/wandb/run-20220917_053548-3e1zn6pq/logs/debug.log
notebooks/wandb/debug-internal.log
notebooks/wandb/debug.log
notebooks/wandb/latest-run
notebooks/wandb/run-20220917_053548-3e1zn6pq/run-3e1zn6pq.wandb
notebooks/wandb/run-20220917_053548-3e1zn6pq/files/config.yaml
notebooks/wandb/run-20220917_053548-3e1zn6pq/files/model-best.h5
notebooks/wandb/run-20220917_053548-3e1zn6pq/files/output.log
notebooks/wandb/run-20220917_053548-3e1zn6pq/files/requirements.txt
notebooks/wandb/run-20220917_053548-3e1zn6pq/files/wandb-metadata.json
notebooks/wandb/run-20220917_053548-3e1zn6pq/files/wandb-summary.json
notebooks/wandb/run-20220917_053548-3e1zn6pq/files/media/graph/graph_summary_25864dea2803cd141cca.graph.json
notebooks/wandb/run-20220917_053548-3e1zn6pq/logs/debug-internal.log
notebooks/wandb/run-20220917_055917-2qxvmrhv/run-2qxvmrhv.wandb
notebooks/wandb/run-20220917_055917-2qxvmrhv/files/config.yaml
notebooks/wandb/run-20220917_055917-2qxvmrhv/files/model-best.h5
notebooks/wandb/run-20220917_055917-2qxvmrhv/files/output.log
notebooks/wandb/run-20220917_055917-2qxvmrhv/files/requirements.txt
notebooks/wandb/run-20220917_055917-2qxvmrhv/files/wandb-metadata.json
notebooks/wandb/run-20220917_055917-2qxvmrhv/files/wandb-summary.json
notebooks/wandb/run-20220917_055917-2qxvmrhv/files/media/graph/graph_summary_79d3be8851f8f98e4765.graph.json
notebooks/wandb/run-20220917_055917-2qxvmrhv/logs/debug-internal.log
notebooks/wandb/run-20220917_055917-2qxvmrhv/logs/debug.log
notebooks/wandb/run-20220917_060822-1uajz5rx/logs/debug.log
art_api/artworks_all.docarray
art_api/artworks_small.docarray
